*.resS filter=lfs diff=lfs merge=lfs -text
*.assets filter=lfs diff=lfs merge=lfs -text
level3 filter=lfs diff=lfs merge=lfs -text
level8 filter=lfs diff=lfs merge=lfs -text
level9 filter=lfs diff=lfs merge=lfs -text
level4 filter=lfs diff=lfs merge=lfs -text
level7 filter=lfs diff=lfs merge=lfs -text
level5 filter=lfs diff=lfs merge=lfs -text
level6 filter=lfs diff=lfs merge=lfs -text
sharedassets7.assets filter=lfs diff=lfs merge=lfs -text
